### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [145]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [146]:
# Look at first 5 rows
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [147]:
# Calculate the number of unique value in the SN column
total_players = purchase_data['SN'].nunique()
total_players

576

In [148]:
# Make it into a data frame
pd.DataFrame({"Total Number of players" : [total_players]})

   Total Number of players
0                      576

* Display the total number of players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [149]:
# Doing only .mean() and converting it to a data frame
pd.DataFrame(purchase_data.mean())

                      0
Purchase ID  389.500000
Age           22.714103
Item ID       91.755128
Price          3.050987

In [150]:
# Do calculations separately 

unique_items = purchase_data['Item Name'].nunique()
average_price = purchase_data['Price'].mean()
average_age = purchase_data['Age'].mean()
total_sales = purchase_data['Price'].sum()

summary_df = pd.DataFrame({
    "Number of Items" : unique_items,
    "Average Price" : average_price,
    "Average Age" : average_age,
    "Total Sales" : [total_sales]
})

# Clean up data
summary_df = summary_df.round(decimals=2)
summary_df["Average Price"] = summary_df["Average Price"].map("${0:,.2f}".format)
summary_df["Total Sales"] = summary_df["Total Sales"].map("${0:,.2f}".format)
summary_df

   Number of Items Average Price  Average Age Total Sales
0              179         $3.05        22.71   $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [151]:
gender_summary = purchase_data.loc[:, ["SN", "Age", "Gender"]]
gender_summary = gender_summary.drop_duplicates()
gender_summary = gender_summary["Gender"].value_counts()
gender_summary

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [152]:
gender_percentage = gender_summary / total_players
gender_percentage

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [153]:
gender_df = pd.DataFrame({
    'Total Number' : gender_summary,
    "Percentage" : gender_percentage
})
gender_df

                       Total Number  Percentage
Male                            484    0.840278
Female                           81    0.140625
Other / Non-Disclosed            11    0.019097

In [154]:
## ANOTHER WAY OF DOING IT

In [155]:
# Make filters

male_players = purchase_data["Gender"] == "Male"
female_players = purchase_data["Gender"] == "Female"
non_binary = (purchase_data["Gender"] != "Female") & (purchase_data["Gender"] != "Male")

# Make series for each case

female_df = purchase_data.loc[female_players, :]
male_df = purchase_data.loc[male_players, :]
non_binary = purchase_data.loc[non_binary, :]

#Reset index
male_df = male_df.reset_index(drop=True)
female_df = female_df.reset_index(drop=True)

# Display data frame to verify
male_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [156]:
# Save total number of players per gender (could have skipped filter step for male and female)
male_number = purchase_data.loc[male_players, :]["SN"].nunique()
female_number = purchase_data.loc[female_players, :]["SN"].nunique()
non_binary_number = non_binary["SN"].nunique()

male_number

484

In [157]:
female_number

81

In [158]:
non_binary_number

11

In [159]:
# Create gender summary table
gender_table = pd.DataFrame({
    "Male players" : male_number, 
    "Female players" : female_number,
    "Undisclosed gender" : non_binary_number,
    "Total Number of Players" : [total_players]
})

gender_table['Percentage Male'] = (male_number/total_players)*100
gender_table['Percentage Female'] = (female_number/total_players)*100
gender_table['Percentage Other'] = (non_binary_number/total_players)*100
gender_table = gender_table.round(decimals=2)
gender_table

,Male players,Female players,Undisclosed gender,Total Number of Players,Percentage Male,Percentage Female,Percentage Other
0,484,81,11,576,84.03,14.06,1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [160]:
#table for males
male_unique_items = male_df['Item ID'].nunique()
male_average_price = male_df['Price'].mean()
male_average_age = male_df['Age'].mean()
male_total_sales = male_df['Price'].sum()

male_summary_df = pd.DataFrame({
    "Number of Items" : male_unique_items,
    "Average Price" : male_average_price,
    "Average Age" : male_average_age,
    "Total Sales" : [male_total_sales]
})

male_summary_df.round(decimals=2)
male_summary_df['Average Price'] = male_summary_df['Average Price'].map("${0:,.2f}".format)
male_summary_df['Total Sales'] = male_summary_df['Total Sales'].map("${0:,.2f}".format)
male_summary_df

   Number of Items Average Price  Average Age Total Sales
0              178         $3.02    22.917178   $1,967.64

In [161]:
#table for females
female_unique_items = female_df['Item ID'].nunique()
female_average_price = female_df['Price'].mean()
female_average_age = female_df['Age'].mean()
female_total_sales = female_df['Price'].sum()

female_summary_df = pd.DataFrame({
    "Number of Items" : female_unique_items,
    "Average Price" : female_average_price,
    "Average Age" : female_average_age,
    "Total Sales" : [female_total_sales]
})

female_summary_df.round(decimals=2)
female_summary_df['Average Price'] = female_summary_df['Average Price'].map("${0:,.2f}".format)
female_summary_df['Total Sales'] = female_summary_df['Total Sales'].map("${0:,.2f}".format)
female_summary_df

   Number of Items Average Price  Average Age Total Sales
0               90         $3.20    21.345133     $361.94

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [162]:
## Establish bins
bins = [4,10, 15, 20, 23, 25, 33, 42]
bins_labels = ["4 to 10","10 to 15", "15 to 20", "20 to 23", "23 to 25", "25 to 33", "33 to 42"]

In [163]:
## Categorize the existing players using the age bins. Hint: use pd.cut()
# Get Data without duplicates
unique_df = purchase_data.drop_duplicates(subset="SN")

# use pd.cut to give each row its corresponding label 
unique_df["Age Group"] = pd.cut(unique_df["Age"], bins, labels=bins_labels, include_lowest=True)

<ipython-input-163-e3bb937b629d>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_df["Age Group"] = pd.cut(unique_df["Age"], bins, labels=bins_labels, include_lowest=True)

In [164]:
# Groupe them by age group
age_grouped = unique_df.groupby("Age Group")
# Count how many people fall into each age group catgeory, use the purchase ID colunmn for calculations
people_per_age_group = pd.DataFrame(age_grouped["Purchase ID"].nunique())

people_per_age_group["Percentage"] = people_per_age_group["Purchase ID"] / unique_df["Purchase ID"].count() *100
people_per_age_group['Percentage'] = people_per_age_group['Percentage'].map("{:.2f}%".format)
people_per_age_group

           Purchase ID Percentage
Age Group
4 to 10             24      4.17%
10 to 15            41      7.12%
15 to 20           150     26.04%
20 to 23           141     24.48%
23 to 25            91     15.80%
25 to 33            79     13.72%
33 to 42            46      7.99%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [165]:
## Run basic calculations to obtain purchase count, avg. purchase price, avg. 
## purchase total per person etc. in the table below

age_grouped = unique_df.groupby("Age Group")

### Group them by gender also if you want (you need to comment above line and uncomment below line)

#age_grouped = unique_df.groupby(["Age Group", "Gender"])

# Calculate total spent by age group make it a data frame to avoid bugs
total_spent_by_age_group = pd.DataFrame(age_grouped["Price"].sum())

#Calculate item count by group as a series

group_item_count = age_grouped["Item ID"].count()

# Calculate total spent by age group as a series

total_by_age_group = age_grouped["Price"].sum()

#Calculate percentages,total number of items bought by age group and add a new columns, average purchase
# and add them to the dataframe above

total_spent_by_age_group["Percentage"] = total_by_age_group/total_sales *100
total_spent_by_age_group["Total items bought"] = group_item_count
total_spent_by_age_group["Average purchase"] = total_by_age_group/group_item_count


# Do basic data cleaning
# Rename price column to total spent
age_demographics_summary = total_spent_by_age_group.rename(columns= {"Price" : "Total Spent"})


#format percentage
age_demographics_summary['Percentage'] = age_demographics_summary['Percentage'].map("{:.2f}%".format)
age_demographics_summary['Average purchase'] = age_demographics_summary['Average purchase'].map("${:,.2f}".format)
age_demographics_summary

           Total Spent Percentage  Total items bought Average purchase
Age Group
4 to 10          82.18      3.45%                  24            $3.42
10 to 15        120.43      5.06%                  41            $2.94
15 to 20        476.84     20.04%                 150            $3.18
20 to 23        410.09     17.23%                 141            $2.91
23 to 25        289.94     12.18%                  91            $3.19
25 to 33        225.29      9.47%                  79            $2.85
33 to 42        152.82      6.42%                  46            $3.32

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [166]:
# Group the original data fram by each spender's username
spender_group = purchase_data.groupby("SN")

spender_group.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [167]:
# Count how many times each SN shows up
spender_purchase = spender_group.count()
# Sort values by purchase id
spender_purchase = spender_purchase["Purchase ID"].sort_values(ascending=False)
# Verify data
spender_purchase

SN
Lisosia93       5
Iral74          4
Idastidru52     4
Asur53          3
Inguron55       3
               ..
Hala31          1
Haisurra41      1
Hailaphos89     1
Haestyphos66    1
Iskosian40      1
Name: Purchase ID, Length: 576, dtype: int64

In [180]:
# Make it a data frame to add the other calculations

spender_df = pd.DataFrame(spender_purchase)

# Calculate avergage purchase price

average_spender = spender_group["Price"].mean()

# Calculate toral purchase value per user

spender_total = spender_group["Price"].sum()


# Add columns with calculations
spender_df["Average Purchase Price"] = average_spender
spender_df["Total Purchase Value"] = spender_total

# Do data cleaning and formating
# Change SN columkn name for purchase count

spender_df = spender_df.rename(columns={"SN" : "Purchase count"})

# Have Average purchase price have two decimal places and a currency format

spender_df["Average Purchase Price"] = spender_df["Average Purchase Price"].map('${:,.2f}'.format)
spender_df["Total Purchase Value"] = spender_df["Total Purchase Value"].map('${:.2f}'.format)

spender_df

              Purchase ID Average Purchase Price Total Purchase Value
SN
Lisosia93               5                  $3.79               $18.96
Iral74                  4                  $3.40               $13.62
Idastidru52             4                  $3.86               $15.45
Ialallo29               3                  $3.95               $11.84
Tyisur83                3                  $1.79                $5.36
...                   ...                    ...                  ...
Hala31                  1                  $1.02                $1.02
Haisurra41              1                  $4.40                $4.40
Hailaphos89             1                  $3.81                $3.81
Haestyphos66            1                  $1.97                $1.97
Iskosian40              1                  $3.07                $3.07

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [183]:
popular_items = purchase_data[["Item ID", "Item Name", "Price"]]
popular_items.groupby(["Item ID", "Item Name"]).head()

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
764      113                          Solitude's Reaver   4.07
765      130                                      Alpha   2.07
766       58          Freak's Bite, Favor of Holy Might   4.14
777       67      Celeste, Incarnation of the Corrupted   3.46
779       50                                       Dawn   4.60

[690 rows x 3 columns]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame